In [1]:
# first neural network with keras tutorial
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow 
import keras

In [ ]:
# new_header = df.iloc[0] #grab the first row for the header
# df = df[1:] #take the data less the header row
# df.columns = new_header #set the header row as the df header

In [2]:
data=pd.read_csv("pima-indians-diabetes.csv")

### Input Variables (X):

#### Number of times pregnant
#### Plasma glucose concentration a 2 hours in an oral glucose tolerance test
#### Diastolic blood pressure (mm Hg)
#### Triceps skin fold thickness (mm)
#### 2-Hour serum insulin (mu U/ml)
#### Body mass index (weight in kg/(height in m)^2)
#### Diabetes pedigree function
#### Age (years)

## Output Variables (y):

#### Class variable (0 or 1)

In [3]:
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [4]:
columns=['Number of times pregnant','Plasma glucose concentration','Diastolic blood pressure (mm Hg)','Triceps skin fold thickness (mm)',
        '2-Hour serum insulin (mu U/ml)','Body mass index','Diabetes pedigree function','Age (years)','Class variable (0 or 1)']

In [5]:
data.columns=columns

In [6]:
data.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0

In [7]:
# split into input (X) and output (y) variables
X = data.iloc[:,0:8]
Y = data.iloc[:,8]

In [8]:
#Scaling the features
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [9]:
X_sc=sc.fit_transform(X)

In [10]:
X_sc=pd.DataFrame(X_sc)

In [11]:
print(X_sc)

            0         1         2         3         4         5         6  \
0   -0.843726 -1.122086 -0.160249  0.532023 -0.693559 -0.683729 -0.364265
1    1.234240  1.944476 -0.263578 -1.286882 -0.693559 -1.102301  0.604701
2   -0.843726 -0.996920 -0.160249  0.155698  0.122357 -0.493469 -0.919684
3   -1.140579  0.505069 -1.503534  0.908349  0.764674  1.409132  5.482732
4    0.343683 -0.152051  0.253070 -1.286882 -0.693559 -0.810569 -0.817052
..        ...       ...       ...       ...       ...       ...       ...
762  1.827945 -0.621423  0.356400  1.723720  0.868833  0.115363 -0.907610
763 -0.546874  0.035698  0.046411  0.406582 -0.693559  0.610039 -0.397469
764  0.343683  0.004406  0.149740  0.155698  0.278596 -0.734465 -0.684235
765 -0.843726  0.160863 -0.470238 -1.286882 -0.693559 -0.239789 -0.370302
766 -0.843726 -0.871754  0.046411  0.657465 -0.693559 -0.201737 -0.472934

            7
0   -0.188940
1   -0.103795
2   -1.040393
3   -0.018650
4   -0.274086
..        ...
762  2.535709
763 -0.529522
764 -0.274086
765  1.173384
766 -0.870103

[767 rows x 8 columns]

In [18]:
X_sc.columns=X.columns

In [19]:
X_sc.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years)
0,-0.843726,-1.122086,-0.160249,0.532023,-0.693559,-0.683729,-0.364265,-0.188940
1,1.234240,1.944476,-0.263578,-1.286882,-0.693559,-1.102301,0.604701,-0.103795
2,-0.843726,-0.996920,-0.160249,0.155698,0.122357,-0.493469,-0.919684,-1.040393
3,-1.140579,0.505069,-1.503534,0.908349,0.764674,1.409132,5.482732,-0.018650
4,0.343683,-0.152051,0.253070,-1.286882,-0.693559,-0.810569,-0.817052,-0.274086

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_sc,Y,test_size=0.25,random_state=42)

In [21]:
...
# define the keras model
model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [22]:
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [23]:
# fit the keras model on the dataset
model.fit(x_train, y_train, epochs=50, batch_size=100)

Epoch 1/50
6/6 [==============================] - 1s 4ms/step - loss: 0.6475 - accuracy: 0.6730
Epoch 2/50
6/6 [==============================] - 0s 2ms/step - loss: 0.6309 - accuracy: 0.7009
Epoch 3/50
6/6 [==============================] - 0s 1ms/step - loss: 0.6157 - accuracy: 0.7096
Epoch 4/50
6/6 [==============================] - 0s 2ms/step - loss: 0.6007 - accuracy: 0.7113
Epoch 5/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5876 - accuracy: 0.7130
Epoch 6/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5756 - accuracy: 0.7148
Epoch 7/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5638 - accuracy: 0.7183
Epoch 8/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5545 - accuracy: 0.7183
Epoch 9/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5458 - accuracy: 0.7235
Epoch 10/50
6/6 [==============================] - 0s 1ms/step - loss: 0.5381 - accuracy: 0.7322
Epoch 11/50
6/6 [==============================] - 0s 1ms/step - loss: 0.5316 - accuracy: 0.7304
Epoch 12/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5252 - accuracy: 0.7304
Epoch 13/50
6/6 [==============================] - 0s 1ms/step - loss: 0.5200 - accuracy: 0.7304
Epoch 14/50
6/6 [==============================] - 0s 1ms/step - loss: 0.5150 - accuracy: 0.7322
Epoch 15/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5105 - accuracy: 0.7322
Epoch 16/50
6/6 [==============================] - 0s 1ms/step - loss: 0.5069 - accuracy: 0.7304
Epoch 17/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5032 - accuracy: 0.7357
Epoch 18/50
6/6 [==============================] - 0s 2ms/step - loss: 0.5001 - accuracy: 0.7409
Epoch 19/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4969 - accuracy: 0.7426
Epoch 20/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4943 - accuracy: 0.7496
Epoch 21/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4918 - accuracy: 0.7513
Epoch 22/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4896 - accuracy: 0.7530
Epoch 23/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4874 - accuracy: 0.7548
Epoch 24/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4856 - accuracy: 0.7530
Epoch 25/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4838 - accuracy: 0.7530
Epoch 26/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4821 - accuracy: 0.7530
Epoch 27/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4806 - accuracy: 0.7513
Epoch 28/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4793 - accuracy: 0.7600
Epoch 29/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4780 - accuracy: 0.7617
Epoch 30/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4768 - accuracy: 0.7670
Epoch 31/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4756 - accuracy: 0.7687
Epoch 32/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4744 - accuracy: 0.7687
Epoch 33/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4734 - accuracy: 0.7687
Epoch 34/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4723 - accuracy: 0.7687
Epoch 35/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4715 - accuracy: 0.7704
Epoch 36/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4705 - accuracy: 0.7704
Epoch 37/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4696 - accuracy: 0.7704
Epoch 38/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4687 - accuracy: 0.7704
Epoch 39/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4679 - accuracy: 0.7722
Epoch 40/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4672 - accuracy: 0.7722
Epoch 41/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4663 - accuracy: 0.7704
Epoch 42/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4656 - accuracy: 0.7704
Epoch 43/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4648 - accuracy: 0.7687
Epoch 44/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4641 - accuracy: 0.7704
Epoch 45/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4633 - accuracy: 0.7722
Epoch 46/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4626 - accuracy: 0.7757
Epoch 47/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4620 - accuracy: 0.7757
Epoch 48/50
6/6 [==============================] - 0s 1ms/step - loss: 0.4612 - accuracy: 0.7739
Epoch 49/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4607 - accuracy: 0.7739
Epoch 50/50
6/6 [==============================] - 0s 2ms/step - loss: 0.4599 - accuracy: 0.7722

In [24]:
# evaluate the keras model
Loss, accuracy = model.evaluate(x_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))
print('Loss %.2f' % Loss)

6/6 [==============================] - 0s 2ms/step - loss: 0.5003 - accuracy: 0.7344
Accuracy: 73.44
Loss 0.50

In [25]:
# make probability predictions with the model
predictions = model.predict(x_test)
# round predictions 
rounded_predictions = [round(x[0]) for x in predictions]

In [26]:
print(rounded_predictions)

[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [ ]:
# # make class predictions with the model
# prediction = model.predict_classes(X)